<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


<footer class="pie-pagina">
    <div class="grupo-1">
        <div class="box">
            <figure>
                <a href="#">
                    <img src="https://cdn.discordapp.com/attachments/1279240789611778109/1288389344209534976/323052536_836157931967020_4956606950420051631_n.png?ex=66f50194&is=66f3b014&hm=4617661681bbf294995e45c2f94041baa7e5c287a145ec1c68b3bda993f7a42f&" alt="Logo">
                </a>
            </figure>
        </div>
        <div class="box">
            <h2>CONTACT US</h2>
            <p>Email: info&#64;groweasy.com</p>
            <p>Phone number: +123-456-7890</p>
        </div>
        <div class="box">
            <h2>FOLLOW US</h2>
            <div class="red-social">
                <a href="#" class="fa fa-facebook"></a>
                <a href="#" class="fa fa-instagram"></a>
                <a href="#" class="fa fa-twitter"></a>
            </div>
        </div>
    </div>
    <div class="grupo-2">
        <small>&copy; 2024 <b>GrowEasy Innovators</b> - All rights reserved.</small>
    </div>
</footer>